local wezterm = require 'wezterm'

return {
  -- Window settings
  use_ime = true, -- Enable IME support (similar to option_as_alt = "Both" in Alacritty)

  -- Hide the tab bar
  enable_tab_bar = false,

  -- Automatically attach to tmux on startup (or create a new session if none exists)
  {{ if eq .chezmoi.os "darwin" }}
  default_prog = { '/opt/homebrew/bin/tmux', 'new', '-A' },
  {{ else if eq .chezmoi.os "windows" }}
  default_prog = { 'tmux', '-A' },
  {{ end }}

  {{ if eq .chezmoi.os "darwin" }}
  -- Set environment variables for tmux
  set_environment_variables = {
    PATH = "/opt/homebrew/bin:" .. os.getenv("PATH"),
  },
  {{ end }}

  -- Keyboard bindings
  keys = {
    { key = "h", mods = "CMD", action = wezterm.action.SendString "\x1bh" },
    { key = "j", mods = "CMD", action = wezterm.action.SendString "\x1bj" },
    { key = "k", mods = "CMD", action = wezterm.action.SendString "\x1bk" },
    { key = "l", mods = "CMD", action = wezterm.action.SendString "\x1bl" },
    {
      key = "Tab",
      mods = "CTRL",
      action = wezterm.action.SendString("\x20\x5d"), -- <space> + ]
    },
    {
      key = "Tab",
      mods = "SHIFT|CTRL",
      action = wezterm.action.SendString("\x20\x5b"), -- <space> + [
    },
  },

  -- Font settings

  {{ if eq .chezmoi.os "darwin" }}
  font = wezterm.font("JetBrainsMono Nerd Font", { weight = "Regular" }),
  {{ else if eq .chezmoi.os "windows" }}
  font = wezterm.font("Cascadia Code PL", { weight = "Regular" }),
  {{ end }}

  font_size = 17,
  -- Theme
  color_scheme = 'Gruvbox Dark (Gogh)',

  {{ if eq .chezmoi.os "windows" }}
  default_domain = 'WSL:Ubuntu',
  window_close_confirmation = 'NeverPrompt',
  {{ end }}
}
